body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* index.html styles */

.index-container {
    max-width: 600px;
    margin: 30px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    margin-bottom: 10px;
}

.input-box {
    position: relative;
}

input[type="password"],
input[type="text"],
textarea,
input[type="range"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="range"] {
    cursor: pointer;
}

.input-container label,
.submit-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.option-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.option-box {
    flex: 1;
    min-width: 45%;
    height: 120px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: box-shadow 0.3s;
}

.option-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.credits {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #888;
}

/* result.html styles */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.result-container {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    text-align: center;
}

.score-box {
    height: 40px;
    background-color: #007BFF;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.score-text {
    color: #fff;
    margin: 0;
    padding: 0;
}

.new-prompt-container {
    margin-top: 20px;
}

.new-prompt-title {
    font-weight: bold;
}

.new-prompt {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    margin: 10px 0;
}

.copy-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #0056b3;
}
