html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    overflow-y: hidden;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow-image.active {
    opacity: 1;
}

.container {
    z-index: 1;
    position: absolute;
    height: 76vh;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    background-color: #000000b4;
    color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    z-index: 1;
    margin-bottom: 20px;
    text-align: center;
    color: #f2f2f2;
    padding: 20px;
    border-bottom: 1px solid;
}

h2 {
    font-size: 30px;
    padding-bottom: 8px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    color: #f2f2f2c9;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #f2f2f2;
}

.form-group label,
.text-center label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f2f2f2;
}

span {
    color: #f2f2f2;
}

.text-center {
    text-align: center;
}

.input-group>input {
    color: #000;
}

.form-group>textarea {
    color: #000;
}

.btn {
    background-color: rgba(0, 0, 255, 0.288);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: initial;
    background-position: 0 0;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 255, 0.288);
}

.mt-4 {
    margin-top: 30px;
}

.mt-2 {
    margin-top: 20px;
}

.button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-left: 230px;
}

.button:hover,
.button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button:active {
    opacity: .5;
}

@media screen and (max-width: 1000px) {
    .container {
        height: 35vh;
    }
    .option-box {
        margin: 20px;
        padding: 10px;
        height: auto;
        width: auto;
    }

    p {

        font-size: 16px;
    }
}