<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='connection.css') }}">
    <title>Profiles</title>
</head>

<body>
    <div class="slideshow-container">
        <div class="slideshow-container">
            <img src="{{url_for('static', filename='image1.jpeg')}}" class="slideshow-image">
            <img src="{{url_for('static', filename='image2.jpeg')}}" class="slideshow-image">
            <img src="{{url_for('static', filename='image3.jpeg')}}" class="slideshow-image">
            <img src="{{url_for('static', filename='image4.jpeg')}}" class="slideshow-image">
            <img src="{{url_for('static', filename='image5.jpeg')}}" class="slideshow-image">
        </div>
    </div>
    <div class="container">
        <h1>Connection</h1>
        <div class="person">
            <div class="profile-card">
                <img class="profile-pic" src="{{url_for('static', filename='yaswanth.jpeg')}}" alt="Vanama Yaswanth" title="Vanama Yaswanth">
                <div class="profile-name">Vanama Yaswanth</div>
                <div class="profile-info">Associate Manager @ iNeuron</div>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/vanama-yaswanth/" target="_blank">
                        <img src="{{url_for('static', filename='linkedin.png')}}" alt="LinkedIn">
                    </a>
                    <a class="social-icon" href="https://github.com/vanamayaswanth" target="_blank">
                        <img src="{{url_for('static', filename='gitHubLogoWhite.png')}}" alt="GitHub">
                    </a>
                    <a class="social-icon" href="https://www.instagram.com/i_vanama_yaswanth/" target="_blank">
                        <img src="{{url_for('static', filename='instagram.png')}}" alt="Instagram">
                    </a>
                </div>
            </div>
            <div class="information">
                <p>
                    <strong>Meet Vanama Yaswanth</strong> - a passionate enthusiast in the field
                    of data science. I have an undying passion for this sector, and I work hard to enhance my skill set
                    and keep up with the most recent business trends. My motivation is fueled by the appeal of using
                    data to uncover significant insights that facilitate decision-making in daily life. Making
                    relationships with people and their skill sets is one of my outstanding qualities. I consider
                    personal development to be just as important as learning from others' mistakes. My strength is
                    taking on obstacles head-on since I see them as opportunities to advance. I have high goals. I'm
                    dedicated to choosing a course that will advance both my career and personal development.
                    I'm dedicated to setting out on a course that will both advance my career development and help my
                    personal growth. My ultimate objective is to get to a position that represents my commitment and
                    competence and represents the pinnacle of my career. I, Vanama Yaswanth, am steadfast in my pursuit
                    of greatness in data science and determined in my efforts to have a substantial effect in this
                    dynamic profession. In a world that is increasingly shaped by data.
                </p>
            </div>
        </div>
        <div class="person">
            <div class="profile-card">
                <img class="profile-pic" src="{{url_for('static', filename='Mokshgupta.jpg')}}" alt="Moksh Gupta" title="Moksh Gupta">
                <div class="profile-name">Moksh Gupta</div>
                <div class="profile-info">Web Developer</div>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/moksh06/" target="_blank">
                        <img src="{{url_for('static', filename='linkedin.png')}}" alt="LinkedIn">
                    </a>
                    <a class="social-icon" href="https://github.com/Moksh45" target="_blank">
                        <img src="{{url_for('static', filename='gitHubLogoWhite.png')}}" alt="GitHub">
                    </a>
                    <a class="social-icon" href="https://www.instagram.com/moksh_gupta_45/" target="_blank">
                        <img src="{{url_for('static', filename='instagram.png')}}" alt="Instagram">
                    </a>
                </div>
            </div>
            <div class="information">
                <p>
                    <strong> Moksh Gupta</strong>,- a passionate individual on a journey of growth and innovation.
                    Currently in his third year, Moksh is a dynamic blend of a web developer and competitive programmer.
                    With a keen interest in the world of technology, he's always chasing the latest trends and pushing
                    his limits to create digital solutions that matter.

                    Moksh's story is one of continuous learning and adaptation. His skills in web development are finely
                    honed, and his proficiency in competitive programming reflects his strategic and analytical mindset.
                    Beyond the lines of code, he's driven by a curiosity that fuels his desire to solve complex problems
                    and contribute to the software development landscape.

                    As he walks the path of academia and skill-building, Moksh has set his sights on securing an
                    internship in software development. He aspires to delve deeper into real-world projects,
                    collaborating with experienced professionals to enhance his craft. Moksh's journey is a testament to
                    his dedication to personal and professional growth, making him a promising and valuable asset in the
                    world of technology.
                </p>
            </div>
        </div>
        <div class="person">
            <div class="profile-card">
                <img class="profile-pic" src="{{url_for('static', filename='sethu.jpeg')}}" alt="Sethu Sai Medamallela" title="Sethu Sai Medamallela">
                <div class="profile-name">Sethu Sai Medamallela</div>
                <div class="profile-info">MLOps Engineer at Intellect Design Arena</div>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/sethusaim/" target="_blank">
                        <img src="{{url_for('static', filename='linkedin.png')}}" alt="LinkedIn">
                    </a>
                    <a class="social-icon" href="https://github.com/sethusaim" target="_blank">
                        <img src="{{url_for('static', filename='gitHubLogoWhite.png')}}" alt="GitHub">
                    </a>
                    <a class="social-icon" href="#" target="_blank">
                        <img src="{{url_for('static', filename='instagram.png')}}" alt="Instagram">
                    </a>
                </div>
            </div>
            <div class="information">
                <p>
                    <strong>Meet Sethu Sai M </strong> - an enthusiastic individual with a strong foundation in the
                    realms of technology.
                    My journey is marked by a deep-seated passion for MLOps and DevOps, where I strive to bridge the gap
                    between machine learning and efficient operations.

                    My interests don't stop there – the world of Deep Learning has always fascinated me. Exploring
                    intricate neural networks and their applications keeps me engaged and eager to contribute. My
                    fascination further extends to Natural Language Processing, where I'm intrigued by the power of
                    language models and their real-world implications.

                    Machine Learning, as a whole, captivates me. The art of teaching machines to learn and make informed
                    decisions resonates deeply with my desire to create intelligent systems that drive meaningful
                    change.

                    My experiences have provided me with hands-on technical exposure, while my ongoing learning journey
                    continues to broaden my horizons. With each step, I aim to synergize my interests and expertise,
                    crafting innovative solutions that push boundaries. My story is one of continuous growth, fueled by
                    the curiosity to unravel the complexities of technology and make a lasting impact.

                </p>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const slideshowImages = document.querySelectorAll(".slideshow-image");
            let currentImageIndex = 0;

            function showNextImage() {
                slideshowImages[currentImageIndex].classList.remove("active");
                currentImageIndex = (currentImageIndex + 1) % slideshowImages.length;
                slideshowImages[currentImageIndex].classList.add("active");
            }
            setTimeout(function () {
                showNextImage();
                setInterval(showNextImage, 3000);
            });
        });

    </script>
</body>

</html>