<!DOCTYPE html>
<html>

<head>
    <title>OpenAI Prompt Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="clipped-element">
        <div class="slideshow-container">
            <img src="{{url_for('static', filename='image1.png')}}" class="slideshow-image">
            <img src="{{url_for('static', filename='image2.png')}}" class="slideshow-image">
            <img src="{{url_for('static', filename='image3.jpg')}}" class="slideshow-image">
            <img src="{{url_for('static', filename='image4.jpg')}}" class="slideshow-image">
            <img src="{{url_for('static', filename='image5.jpg')}}" class="slideshow-image">
            <img src="{{url_for('static', filename='image6.jpg')}}" class="slideshow-image">
            <img src="{{url_for('static', filename='image7.jpg')}}" class="slideshow-image">
            <img src="{{url_for('static', filename='image8.jpg')}}" class="slideshow-image">
        </div>
        <div class="container">
            <h1 class="text-center mt-4">OpenAI Prompt Analysis</h1>
            <form method="post" action="/openai" class="mt-4">
                <div class="form-group">
                    <label for="api_key">OpenAI API Key:</label>
                    <div class="input-group">
                        <input type="password" name="api_key" id="api_key" class="form-control" required>
                        <div class="input-group-append">
                            <span class="input-group-text password-toggle"
                                onclick="togglePasswordVisibility()">&#x1F441;</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="prompt">Prompt:</label>
                    <textarea name="prompt" id="prompt" class="form-control" rows="5" required></textarea>
                </div>
                <div class="form-group">
                    <label for="temp">Temperature:</label>
                    <input type="range" name="temp" id="temp" min="0" max="1" step="0.1" value="0.2">
                    <span id="tempValue">0.2</span>
                </div>
                <div class="form-group">
                    <label for="max_token">Max Tokens:</label>
                    <input type="range" name="max_token" id="max_token" min="1000" max="4000" step="1" value="2048">
                    <span id="maxTokenValue">2048</span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Submit" class="btn btn-dark">
                </div>
            </form>
            <a href="/">
                <button class="button" role="button">Back to Home</button>
            </a>
        </div>
    </div>
    <script>
        function togglePasswordVisibility() {
            var apiKeyInput = document.getElementById("api_key");
            if (apiKeyInput.type === "password") {
                apiKeyInput.type = "text";
            } else {
                apiKeyInput.type = "password";
            }
        }

        var tempSlider = document.getElementById("temp");
        var tempValueDisplay = document.getElementById("tempValue");
        tempValueDisplay.innerHTML = tempSlider.value;

        tempSlider.oninput = function () {
            tempValueDisplay.innerHTML = this.value;
        };

        var maxTokenSlider = document.getElementById("max_token");
        var maxTokenValueDisplay = document.getElementById("maxTokenValue");
        maxTokenValueDisplay.innerHTML = maxTokenSlider.value;

        maxTokenSlider.oninput = function () {
            maxTokenValueDisplay.innerHTML = this.value;
        };

        document.addEventListener("DOMContentLoaded", function () {
            const slideshowImages = document.querySelectorAll(".slideshow-image");
            let currentImageIndex = 0;

            function showNextImage() {
                slideshowImages[currentImageIndex].classList.remove("active");
                currentImageIndex = (currentImageIndex + 1) % slideshowImages.length;
                slideshowImages[currentImageIndex].classList.add("active");
            }
            setTimeout(function () {
                showNextImage();
                setInterval(showNextImage, 3000);
            });
        });
    </script>
</body>

</html>